// General
body {
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

//Has to be like that to work
p:last-of-type {
  margin-bottom: 0;
}

//Prevent elements from overflowing
img,
embed,
object,
video {
  max-width: 100%;
}

.link-to-all {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}