.grid-item {
  border: 10px solid $gray-300;

  .stretch-image {
    opacity: 0;
    visibility: hidden;
    transition: $transition-fade;
  }

  h3 {
    transition: all .4s ease-out;
    transform: translateY(0);
  }

  @media (hover: hover) {
    &:hover {
      border-color: $red;

      .stretch-image {
        opacity: 1;
        visibility: visible;
      }

      h3 {
        opacity: 0;
        visibility: hidden;
        transform: translateY(calc(-100% - 4.5rem));
      }
    }
  }
}

.grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}
